@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300&family=Raleway:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #394666;
    align-content: center;
    font-family: 'Farro',sans-serif;    
}
h1{
    justify-self:center ;
}
.main{
    
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    margin: 30px;
    align-self: center;
    height: 500px;
    width: 700px;
    background-color: rgb(57,70,102);
    display: grid;
    justify-content: center;

}
.text-area{
    border-radius: 15px;
    padding: 15px;
    width: 400px;
    height: 70px;
    background-color: #181F32;
    text-align: center;
    font-size: 2rem;
    color: #fff;}
.calcu{
    border-radius: 15px;
    background-color: #242D46;
    justify-content: center;
    grid-gap: 20px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4,50px);
    margin-bottom: 20px;

   
}
.but{
    font-size: medium;
    background-color: #EBE4DC;
    color:rgb(76,79,86);
    border-radius: 5px;
    height: 40px;
    width: 60px;
    border:none;
    outline: none;
    font-weight: 600;
    
}
.but:focus{
    border:none;
    outline: none;

}
.but:hover{
 background-color: ;
}

      
    

.clear{
    background-color: #63709A;
    color: #fff;
}
.equal{
    background-color: rgb(209,63,50);
    color: #fff;
}
